<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Charts</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- SideBar -->
    <%- include('sidenav.ejs') -%>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <!-- TopBar -->
        <%- include('topnav.ejs') -%>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <div class="col-mb-3">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">김기원T 수리논술</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">반 정보 수정</div>
                    
                    <hr>
                    
                    <form action="updateclassrequest" method="post">

                      <div class="form-group">
                        <div class="form-label-group">
                          <a>반 번호</a>
                          <input type="number" id="class_index" readonly="readonly" class="form-control" required="required" name="class_index" autofocus="autofocus" value=<%= data["class"]["class_index"] %> >
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="form-label-group">
                          <a>반 이름</a>
                          <input type="text" id="class_name" class="form-control" required="required" name="class_name" autofocus="autofocus" value="<%= data["class"]["class_name"] %>"" >
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="form-label-group">
                          <a>커리큘럼</a>
                          <input type="text" id="curriculum_name" class="form-control" required="required" readonly="readonly" name="curriculum_name" autofocus="autofocus" value="<%= data["class"]["curriculum_name"] %>" >
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="form-label-group">
                          <a>담당조교</a>
                          <select class="form-control" name="mentor_index" required="required">
                            <% for (var i in data["mentor_list"]) { %>
                              <% if (data["mentor_list"][i]["user_index"] == data["class"]["mentor_index"]) { %>
                                <option value=<%= data["mentor_list"][i]["user_index"] %> selected="selected">[<%= data["mentor_list"][i]["user_index"] %>] <%= data["mentor_list"][i]["user_name"] %> - <%= data["mentor_list"][i]["user_phonenumber"] %></option>
                              <% } else { %>
                                <option value=<%= data["mentor_list"][i]["user_index"] %>>[<%= data["mentor_list"][i]["user_index"] %>] <%= data["mentor_list"][i]["user_name"] %> - <%= data["mentor_list"][i]["user_phonenumber"] %></option>
                              <% } %>
                            <% } %>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="form-label-group">
                          <a>반 메모</a>
                          <textarea id="class_desc" class="form-control" name="class_desc" rows="8"><%= data["class"]["class_desc"]%></textarea>
                        </div>
                      </div>

                      <hr>

                      <input type="submit" class="btn btn-primary" value="변경사항 저장">
                      <a class="btn btn-primary" href="deleteclassrequest?class_index=<%= data["class"]["class_index"] %>">삭제</a>

                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/datatables-demo.js"></script>
</body>

</html>
