<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Charts</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- SideBar -->
    <%- include('sidenav.ejs') -%>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <!-- TopBar -->
        <%- include('topnav.ejs') -%>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          
          <div class="col-mb-3">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">현재 입시</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= data["exam"]["year_name"] %></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-mb-3">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">

                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">김기원T 수리논술</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">시험 정보 입력</div>
                    
                    <hr>
                    
                    <form action="updateexamrequest" method="post">
                      <div class="form-group">
                        <div class="form-label-group">
                          <a>시험번호</a>
                          <input type="text" id="exam_index" class="form-control" required="required" name="exam_index" autofocus="autofocus" readonly="readonly" value=<%= data["exam"]["exam_index"] %> >
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="form-label-group">
                          <a>시험 이름</a>
                          <input type="text" id="exam_name" class="form-control" required="required" name="exam_name" autofocus="autofocus" value="<%= data["exam"]["exam_name"] %>"">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="form-label-group">
                          <a>시험 도메인</a>
                          <select class="form-control" name="exam_domain_index" required="required">
                            <option value=<%= data["exam"]["exam_domain_index"] %>>[<%= data["exam"]["exam_domain_index"] %>] <%= data["exam"]["exam_domain_name"] %></option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="form-label-group">
                          <a>시험 연도</a>
                          <select class="form-control" name="year_index" required="required">
                              <option value=<%= data["exam"]["exam_year"] %>>[<%= data["exam"]["exam_year"] %>] <%= data["exam"]["year_name"] %></option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="form-label-group">
                          <a>시험 설명</a>
                          <textarea id="exam_desc" class="form-control" required="required" name="exam_desc" rows="8"><%= data["exam"]["exam_desc"] %></textarea>
                        </div>
                      </div>

                      <hr>

                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">김기원T 수리논술</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">시험 문항 입력</div>

                      <hr>

                      <div class="table-responsive">
                        <table class="table table-bordered" id="probTable" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th>문항</th>
                              <th>문제설명</th>
                              <th>배점</th>
                            </tr>
                          </thead>

                          <script>
                            function addProb () {
                              var new_tr = document.getElementById("probList")
                              var row = new_tr.insertRow(new_tr.rows.length)
                              var probLabel = row.insertCell(0)
                              var probDesc = row.insertCell(1)
                              var probScore = row.insertCell(2)

                              probLabel.innerHTML = `<input type="text" class="form-control" name="exam_problem_label[]" required="required">`
                              probDesc.innerHTML = `<input type="text" class="form-control" name="exam_problem_desc[]">`
                              probScore.innerHTML = `<input type="number" class="form-control" name="exam_problem_score[]" required="required">`
                            }

                            function deleteProb () {
                              var new_tr = document.getElementById("probList")
                              if (new_tr.rows.length < 2) return
                              else new_tr.deleteRow(new_tr.rows.length-1)
                            }
                          </script>

                          <tbody id="probList">
                            <% for (var i = 0 ; i < data["exam"]["exam_problem_number"] ; i++) { %>
                              <tr>
                                <td><input type="text" class="form-control" name="exam_problem_label[]" required="required" value="<%= data["exam"]["exam_problem_label"][i] %>"></td>
                                <td><input type="text" class="form-control" name="exam_problem_desc[]" value="<%= data["exam"]["exam_problem_desc"][i] %>"></td>
                                <td><input type="number" class="form-control" name="exam_problem_score[]" required="required" value=<%= data["exam"]["exam_problem_score"][i] %>></td>
                              </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>

                      <input type="button" class="btn btn-primary" value="문항 추가" onclick="addProb()">
                      <input type="button" class="btn btn-danger" value="문항 제거" onclick="deleteProb()">
                      
                      <hr>

                      <input type="submit" class="btn btn-primary" value="시험 추가">
                      <a class="btn btn-primary" href="deleteexamrequest?exam_index=<%= data["exam"]["exam_index"] %>">삭제</a>

                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>
</body>

</html>
