<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>김기원T 수리논술 성적관리 페이지</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- SideBar -->
    <%- include('sidenav.ejs') -%>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <!-- TopBar -->
        <%- include('topnav.ejs') -%>

        <!-- Begin Page Content -->
        <div class="container-fluid">
          
          <div class="col-mb-3">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">현재 설정 연도</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= data["current_year"] %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">입시연도 목록</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>구분번호</th>
                      <th>입시명</th>
                      <th>입시연도</th>
                      <th>등록일</th>
                      <th>상태</th>
                      <th>세부</th>
                      <th>설정</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (var i in data["year_list"]) { %>
                    <tr>
                      <td><%= data["year_list"][i]["year_index"] %></td>
                      <td><%= data["year_list"][i]["year_name"] %></td>
                      <td><%= data["year_list"][i]["year_year"] %></td>
                      <td><%= data["year_list"][i]["year_date"] %></td>
                      <td><%= data["year_list"][i]["year_state"] %></td>
                      <td>세부</td>
                      <td><a href="updatesystemyear?year_index=<%= data["year_list"][i]["year_index"] %>">설정</a></td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <hr>

          <div class="col-mb-3">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">김기원T 수리논술</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">입시 추가</div>
                    <hr>
                    
                    <form action="addyearrequest" method="post">

                      <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <div class="form-label-group">
                            <a>입시명</a>
                            <input type="text" id="year_name" class="form-control" required="required" name="year_name" autofocus="autofocus">
                          </div>
                        </div>

                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <div class="form-label-group">
                            <a>입시연도</a>
                            <input type="number" id="year_year" class="form-control" required="required" name="year_year" autofocus="autofocus">
                          </div>
                        </div>
                      </div>

                      <hr>

                      <div class="form-group">
                        <div class="form-label-group">
                          <a>입시설명</a>
                          <textarea id="year_desc" class="form-control" required="required" name="year_desc" rows="8"></textarea>
                        </div>
                      </div>

                      <input type="submit" class="btn btn-primary" value="커리큘럼 정보 추가">

                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/datatables-demo.js"></script>
</body>

</html>
